// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: grid;
  grid-template-columns: 5fr 1fr;
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 30px;
  padding: none;
}

.submit {
  background-color: blue;
  color: white;
  padding: 1px;
}

.container {
  width: 400px;
  padding-left: 20px;
}

#answer {
  background-color: lightyellow;
}

a {
  text-decoration: none;
}
